@model List<GratefulnessEntry>

@{ViewBag.Title = "Gratefulness Diary";}

<h1>@ViewBag.Title</h1>
<div>
    <a asp-controller="Gratefulness" asp-action="Add">Add new entry</a>

    @foreach (GratefulnessEntry entry in Model)
    {
        <div class="grat-entry">
            <h3 class="grat-date">
                @entry.DateCreated.ToShortDateString()
            </h3>
            <div><a asp-controller="Gratefulness" asp-action="Update" asp-route-id="@entry.GratefulnessEntryID" class="grat-button">Change</a></div>
            <div><a asp-controller="Gratefulness" asp-action="Delete" asp-route-id="@entry.GratefulnessEntryID" class="grat-button">Delete</a></div>
            <div class="grat-units">
                @foreach (GratefulnessUnit unit in entry.GratefulnessUnits)
                {
                    <div class="grat-unit">
                        <h5 class="grat-main">@unit.Main</h5>
                        <div class="grat-details">@unit.Details</div>
                    </div>
                }
            </div>
        </div>
    }
</div>

