@model BlogPost
@{
    ViewBag.Title = Model.Title;
}
<h1>@ViewBag.Title</h1>
<img src="@(Model.ImageUrl)" alt="@Model.ImageName" style="width:100%;margin-bottom:20px;margin-top:20px;" />
<time>@Model.DateCreated</time>
<article style="font-size:20px;"><p>@Model.Body</p></article>
<a asp-controller="BlogPost" asp-action="List">Back</a>

