@model PostListViewModel
@{
    ViewBag.Title = "List of Posts";
}

<section class="blog-posts pt-4">
    <div class="row">
        <aside class="col-md-3">
            <div class="">
                <p class="badge-link w-100 text-center">
                    <a asp-controller="BlogPost" asp-action="List" asp-route-id="All"
                       class="
               @(Model.SelectedCategory == "All" ? "active" : "")
               ">All</a>
                </p>

                @foreach (PostCategory category in Model.Categories)
                {
                    <p class="badge-link w-100 text-center">
                        <a asp-controller="BlogPost" asp-action="List" asp-route-id="@category.Name" class=" @Model.CheckActiveCategory(category.Name) ">@category.Name</a>
                    </p>
                }
            </div>
        </aside>

        <div class="col-md-9">
            @foreach (BlogPost post in Model.BlogPosts)
            {
                <article class="blog-post">
                    <div class="row h-100">
                        <div class="col-md-4 h-100">
                            <img src="@(post.ImageUrl)" alt="@post.ImageName" class="img-fluid" />
                        </div>
                        <div class="col-md-8 h-100" blog-post-info>
                            <a asp-controller="BlogPost" asp-action="List" asp-route-id="@post.Category.Name" class="badge-post">@post.Category.Name</a>
                            <h3><a asp-controller="BlogPost" asp-action="Detail" asp-route-ID="@post.BlogPostID" class=" blog-post-title">@post.Title</a></h3>
                            <h6>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                @post.DateCreated
                            </h6>
                            <p>@post.Body</p>
                            <a class="float-right" asp-controller="BlogPost" asp-action="Detail" asp-route-ID="@post.BlogPostID">Read More</a>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</section>
