@model PostListViewModel
@{
    ViewBag.Title = "Blog Post Manager";
}

<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-lg-4">
        <div class="list-group">

            <a asp-controller="BlogPost" asp-action="List" asp-route-id="All"
               class="list-group-item
               @(Model.SelectedCategory == "All" ? "active" : "")
               ">All
            </a>
            @foreach (PostCategory category in Model.Categories)
            {
                <a asp-controller="BlogPost" asp-action="List" asp-route-id="@category.Name" class="list-group-item @(Model.CheckActiveCategory(category.Name))">@category.Name</a>
            }
        </div>
    </div>

    <div class="col-lg-8">
        <a asp-controller="BlogPost" asp-action="Add" class="btn btn-primary">Add new post</a>

        @foreach (BlogPost post in Model.BlogPosts)
        {
            <div style="height:250px;margin-bottom:30px;">
                <h1>@post.Title</h1>
                <div style="height:80%">
                    <img src="@(post.ImageUrl)" alt="@post.ImageName" style="float:left;height:100%;margin-right:20px;" />
                    <h5>@post.DateCreated</h5>
                    <h6>@post.Category.Name</h6>
                    <article style="font-size:20px;overflow:hidden;height:79%"><p>@post.Body</p></article>
                    <a class="float-right" asp-controller="BlogPost" asp-action="Update" asp-route-ID="@post.BlogPostID">Edit</a>
                </div>
            </div>
        }
    </div>
</div>
