@model PostListViewModel
@{
    ViewBag.Title = "Blog Post Manager";
}

<section class="blog-posts pt-4">
    <div class="row">
        <aside class="col-lg-3">
            <p class="badge-link w-100 text-center">
                <a asp-controller="BlogPost" asp-action="List" asp-route-id="All"
                   class="
               @(Model.SelectedCategory == "All" ? "active" : "")
               ">All</a>
            </p>

            @foreach (PostCategory category in Model.Categories)
            {
                <p class="badge-link w-100 text-center">
                    <a asp-controller="BlogPost" asp-action="List" asp-route-id="@category.Name" class=" @Model.CheckActiveCategory(category.Name) ">@category.Name</a>
                </p>
            }

        </aside>

        <div class="col-lg-9">
            <a asp-controller="BlogPost" asp-action="Add" class="btn btn-primary mb-2" >Add new post</a>

            @foreach (BlogPost post in Model.BlogPosts)
            {
                <article class="blog-post">
                    <div class="row h-100">
                        <div class="col-md-4 h-100">
                            <img src="@(post.ImageUrl)" alt="@post.ImageName" class="img-fluid" />
                        </div>
                        <div class="col-md-8 h-100" blog-post-info>
                            <a asp-controller="BlogPost" asp-action="Update" asp-route-ID="@post.BlogPostID" class="badge-post">@post.Category.Name</a>
                            <h3><a asp-controller="BlogPost" asp-action="Detail" asp-route-ID="@post.BlogPostID" class=" blog-post-title">@post.Title</a></h3>
                            <h6>
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                @post.DateCreated
                            </h6>
                            <p>@post.Body</p>
                            <a class="float-right delete-action" asp-controller="BlogPost" asp-action="Delete" asp-route-ID="@post.BlogPostID">Delete</a>
                            <a class="float-right" asp-controller="BlogPost" asp-action="Update" asp-route-ID="@post.BlogPostID">Edit</a>
                        </div>
                    </div>
                </article>


            }
        </div>
    </div>
</section>
