@model HabitViewModel
@{ViewBag.Title = "HabitDAYZ";}

<h1>@ViewBag.Title</h1>
<div>
    <a asp-controller="HabitDay" asp-action="MakeNew">Make new habit day</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                @foreach (Habit habit in Model.Habits)
                {
                    <th>@habit.Name (@habit.Points pts.)</th>
                }
                <th>Summary for day</th>

            </tr>
        </thead>
        <tbody class="habit-table">
            @foreach (HabitDay habitDay in Model.HabitDays)
            {
                int sumOfPoints = 0;
                <tr>
                    <td>@habitDay.DateCreated.ToShortDateString()</td>
                    @foreach (HabitQuantity quantity in Model.HabitQuantities.Where(q => q.HabitDay == habitDay))
                    {
                        sumOfPoints += quantity.Counter * quantity.Habit.Points;
                        string id = quantity.Habit.HabitID + "-" + habitDay.HabitDayID;
                        <td>
                            <h5 class="quantity-counter">
                                @quantity.Counter
                            </h5>
                            <div class="point-buttons">
                                <a class="plus-point" asp-controller="HabitDay" asp-action="AddPoint" asp-route-id="@id">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </a>
                                <a class="minus-point" asp-controller="HabitDay" asp-action="DeletePoint" asp-route-id="@id">
                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                    }
                    <td class="sum-of-points">@sumOfPoints Points</td>

                </tr>
            }
        </tbody>
    </table>
</div>